body {
   font-size: 18px;
}

.navbar {
   background-color: rgba(26,36,38,.5);
   min-height: 5em;
   font-weight: 600;
}

.jumbotron {
   margin: 0px auto;
   background: #00889a!important;
   color: floralwhite;
   min-height: 24rem;
   border-radius: 0;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.caps {
   text-transform: uppercase;
}

.headerOpenSource,
.jumbotron h3 {
   font-style: italic;
}

#theIssue_detail {
   margin-top: 4em;
}


#ourOrganization.image_wrapper {
  width: 45em;
}

#ourOrganization img {
   height: 38em;
   width: 100%;
}

#ourSolution-bckgnd {
   background: #00889a!important;
   color: floralwhite;
}

#ourSolution-imgWrapper img {
   border-radius: 50%;
   width: 20em;
   height: 20em;
   border: 2px solid floralwhite;
}

#ourActivities_detail h5 {
   color: #00889a;
   margin-top: 1.8em;
}

#ourActivities_detail .fa {
   font-size: 3.5em;
   margin-top: 1em;
}

footer {
   color: floralwhite;
   background-color: #233033;
   min-height: 4em;
}